*.vs
*.csproj.nuget.dgspec
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.assets
*.cache
*.exe
*.assets
*.nuget.cache
obj/
bin/
*.deps
*.dll
*.pdb
*.runtimeconfig
*.cache
*.nuget.cache
*.editorconfig
*.AssemblyInfo.cs
*.GeneratedMSBuildEditorConfig